@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

body * {
	box-sizing: border-box;
}

.main-chat {
	width: 100vw;
	height: 100vh;
	background-image: url('../images/bg.jpg');
}


/* ============================================== CSS DO PAINEL DE CONTATOS ======================================= */
/* ============================================== CSS DO PAINEL DE CONTATOS ======================================= */
/* ============================================== CSS DO PAINEL DE CONTATOS ======================================= */

.contact-panel {
	position: fixed;
	left: 10%;
	top: 10%;
	width: 20vw;
	height: 80vh;
	background-color: #131d50; 
	color: white;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	z-index: 999;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 2%;
	transition: opacity 0.5s ease, visibility 0.5s ease;
	opacity: 0;
	visibility: hidden;
}

.status {
    width: 0.5vw;
    height: 1vh;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px; 
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}

.contact-panel.active,
.settings-panel.active {
	opacity: 1;
	visibility: visible;
	z-index: 2;
}

.contact-panel.active {
	z-index: 2;
}

.contact-panel .panel-header {
	padding: 20px;
	background-color: #0f173d; 
	color: white;
	border-radius: 2%;
}

.contact-panel h2 {
	margin: 0;
	font-size: 1.4vw;
}

.contact-panel ul {
	list-style: none;
	padding: 10px;
	margin: 0;
	max-height: calc(100% - 80px); 
	overflow-y: auto; 
	scrollbar-width: none;
	scroll-behavior: smooth;
}

.contact-panel ul li {
	padding: 15px;
	margin-bottom: 10px;
	background-color: #202b7a; 
	border-radius: 8px;
	font-size: 0.9vw;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-panel ul li:hover {
	background-color: #3542a6 !important; 
	box-shadow: 0 2px 8px rgba(19, 29, 80, 0.2); 
}

.contact-panel ul li:active {
	background-color: #4858c9; 
}

.panel-header {
	display: flex;
	width: 100%;
	position: relative;
	border-radius: 5%;
	padding: 20px;
	background-color: #0f173d; 
	color: white;
	border-radius: 2%;
}

.panel-header > h2 {
	position: absolute; 
	left: 50%; 
	transform: translateX(-50%); 
	margin: 0; 
	align-items: center;
}

.panel-header > input {
	width: 10%;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	border-radius: 5px;
}

.panel-header > input:hover {
	background-color: #3542a6 !important; 
	box-shadow: 0 2px 8px rgba(19, 29, 80, 0.2); 
	border-radius: 5px;
}

.panel-header > input:active {
	background-color: #4858c9; 
}

/* ============================================== CSS DO PAINEL DE CONFIGURAÇÕES ======================================= */
/* ============================================== CSS DO PAINEL DE CONFIGURAÇÕES ======================================= */
/* ============================================== CSS DO PAINEL DE CONFIGURAÇÕES ======================================= */

.settings-panel {
	position: fixed;
	left: 10%;
	top: 10%;
	width: 20vw;
	height: 80vh;
	background-color: #131d50; 
	color: white;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	z-index: 999;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	transition: opacity 0.5s ease, visibility 0.5s ease;
	opacity: 0;
	visibility: hidden;
}

.settings-panel .panel-header {
	padding: 20px;
	background-color: #0f173d; 
	color: white;
	text-align: center;
	border-radius: 10px;
}

.settings-panel h2 {
	margin: 0;
	font-size: 1.4vw;
}

.settings-panel ul {
	list-style: none;
	padding: 10px;
	margin: 0;
	max-height: calc(100% - 80px); 
	overflow-y: auto; 
	scrollbar-width: none;
	scroll-behavior: smooth;
}

.settings-panel ul li {
	padding: 15px;
	margin-bottom: 10px;
	background-color: #202b7a;
	border-radius: 8px;
	font-size: 0.9vw;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.settings-panel ul li:hover {
	background-color: #3542a6 !important; 
	box-shadow: 0 2px 8px rgba(19, 29, 80, 0.2); 
}

.settings-panel ul li:active {
	background-color: #4858c9;
}

/* ============================================== CSS DO CHAT ======================================= */
/* ============================================== CSS DO CHAT ======================================= */
/* ============================================== CSS DO CHAT ======================================= */

.chat {
	position: fixed;
	left: 31%;
	top: 10%;
	width: 60vw;
	height: 80vh;
	background-color: #131d50f5;
	color: white;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	z-index: 999;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	display: flex; 
	flex-direction: column; 
	justify-content: space-between; 
	padding: 0; 
}

/* ============================================== CSS DO CONTACT-DATA ======================================= */
/* ============================================== CSS DO CONTACT-DATA ======================================= */
/* ============================================== CSS DO CONTACT-DATA ======================================= */

.container-data {
	display: flex;
	border: none;
	flex-direction: column;
	height: 80%;
	margin: 0;
	flex-grow: 1;
}

.contact-data {
	display: flex;
	background-color: #202b7a;
	border: none;
	width: 100%; 
	padding: 0; 
	margin: 0; 
	box-sizing: border-box; 
	border-radius: 10px 10px 0 0;
	align-self: flex-start;
}

.contact-data > h2 {
	display: flex;
	padding-left: 1.5%;
}

.contact-data > img {
	width: 5%;
	height: 70%;
	margin-left: 1vw;
	margin-top: 1.2vh;
	margin-bottom: 1vh;
	border-radius: 50%;
}

/* ============================================== CSS DO MESSAGES-CHAT ======================================= */
/* ============================================== CSS DO MESSAGES-CHAT ======================================= */
/* ============================================== CSS DO MESSAGES-CHAT ======================================= */

.messages-chat {
	display: flex;
	position: relative;
	overflow-y: auto;
	height: 100%;
	margin-top: 1vh;
	margin-bottom: 1vh;
	scrollbar-width: none;
	scroll-behavior: smooth;
}

.messages-chat > ul {
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	user-select: none;
}

.messages-chat li {
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
	border-radius: 10px;
	margin-bottom: 10px;
	max-width: 80%;
	word-break: break-word;
	box-sizing: border-box;
}

.received {
	align-self: flex-start;
	background: #453474;
	margin-left: 1vw;
}

.sended {
	align-self: flex-end;
	margin-left: auto;
	background: #514869;
	margin-right: 1vw;
}

.message-time {
    font-size: 12px;
    color: #888;
    display: block;
    margin-top: 5px;
    text-align: right;
	box-sizing: border-box;
}

.messages-chat::-webkit-scrollbar {
	display: none; 
	scroll-behavior: smooth;
}

.response-msg {
	display: none;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 10%;
	background: #202b7a;
	box-sizing: border-box;
}

.msg-of-response {
	margin-left: 6%;
	width: 88%;
	height: 85%;
	background: #514869;
	border: 1px solid black;
	border-radius: 10px;
	padding: 1%;
	box-sizing: border-box;
	overflow-y: auto;
	word-break: break-word;
	scrollbar-width: none;
	scroll-behavior: smooth;
}

.message-responsed {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	background: #473f5c;
	border: 2px solid black;
	margin: 5px;
	margin-bottom: 7%;
	border-radius: 5px;
	padding: 10px;
	word-break: break-word;
}

.message-attachment {
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
	background: #4011b875;
	border: 2px solid black;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
	word-break: break-word;
}

.icon-type-archive {
	display: flex;
	width: 1.5vw;
	height: 1.5vw;
	margin-left: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
	background-size: contain; 
	background-repeat: no-repeat;
	background-position: center;
}

.download-attachment {
	display: flex;
	width: 1.5vw;
	height: auto;
	margin-left: auto;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.image-x {
	margin-left: 2.8%;
	margin-bottom: 1.1%;
	width: 1.8%;
}

/* ============================================ CSS DO PAINEL DE AVISO ======================================= */
/* ============================================ CSS DO PAINEL DE AVISO ======================================= */
/* ============================================ CSS DO PAINEL DE AVISO ======================================= */

.msg-panel-aviso {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 25vw;
	height: 90%;
	background: #2436928c; 
	z-index: 5;
	margin-top: 3%;
	margin-left: 3%;
	border: 2px solid #0f173d;
	border-radius: 2%;
	visibility: hidden;
	box-sizing: border-box;
}

.contact-panel-aviso {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 25vw;
	height: 90%;
	z-index: 5;
	left: 55%;
	margin-top: 3%;
	margin-right: 3%;
	background-color: #2436928c; 
	color: white;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	border: 2px solid #0f173d;
	border-radius: 2%;
	visibility: hidden;
	box-sizing: border-box;
}

.panel-header-aviso {
	display: flex;
	position: relative;
	width: 100%;
	height: 14%;
	justify-content: center;
	align-items: center;
	padding-top: 1vh;
	background-color: #0f173d; 
	color: white;
	border-radius: 2% 2% 0px 0px;
	text-align: center;
}

.panel-header-aviso > h2 {
	font-size: 1.4vw;
	position: absolute; 
	left: 50%;
	top: 20%;
	transform: translateX(-50%); 
	margin: 0; 
	align-items: center;
	box-sizing: border-box;
}

.type-text-aviso {
	width: 95%; 
	height: 82%;
	border-radius: 10px;
	padding: 15px;
	background: #514869;
	color: #f0ffffde;
	font-size: 12pt;
	box-shadow: 0px 10px 40px #00000056;
	outline: none;
	box-sizing: border-box;
	margin: 3%;
	resize: none;
}

.type-text-aviso > input::placeholder {
	color: #f0ffff94;
}

.contact-panel-aviso ul {
	width: 95%;
	list-style: none;
	padding: 10px;
	margin: 0;
	max-height: calc(100% - 80px); 
	overflow-y: auto; 
	scrollbar-width: none;
	scroll-behavior: smooth;
}

.contact-panel-aviso ul li {
	width: 95%;
	padding: 15px;
	margin-bottom: 10px;
	background-color: #2436928c;
	border-radius: 8px;
	font-size: 0.9vw;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	box-sizing: border-box;
}

.contact-panel-aviso ul li:hover {
	background-color: #3542a6 !important;
	box-shadow: 0 2px 8px rgba(19, 29, 80, 0.2) !important;
}

.contact-panel-aviso ul li:active {
	background-color: #4858c9; 
}

.image-send-aviso {
	position: absolute;
	transform: translateY(-10%);
	width: 2vw;
	right: 5%;
	background-color: #243692;
	border: 5px solid #243692;
	transition: border-color 0.3s;
	border-radius: 15%;
}

.image-send-aviso:hover {
	background-color: #3542a6;
	border-color: #3542a6;
}


/* ============================================== CSS DO INPUT-MSG ======================================= */
/* ============================================== CSS DO INPUT-MSG ======================================= */
/* ============================================== CSS DO INPUT-MSG ======================================= */

.input-msg {
	background-color: #202b7a;
	border-radius: 0 0 10px 10px;
	width: 100%;
	display: flex;
	align-items: center; 
	justify-content: space-between; 
	padding: 10px; 
	box-sizing: border-box;
	visibility: hidden;
}

.type-text {
	width: 95%; 
	height: 80%;
	border: none;
	border-radius: 10px;
	padding: 15px;
	background: #514869;
	color: #f0ffffde;
	font-size: 12pt;
	box-shadow: 0px 10px 40px #00000056;
	outline: none;
	box-sizing: border-box;
	margin-right: 1vw;
	margin-left: 1vw;
	resize: none;
}

.type-text > input::placeholder {
	color: #f0ffff94;
}

.custom-file-input {
    width: 3.5%;
	height: 100%;
    background: url('../images/anexo.png');
    background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
	padding: 0;
	cursor: pointer;
  }

  .custom-file-input input[type="file"] {
    opacity: 0;
    width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	cursor: pointer;
  }

.custom-file-input:hover {
	cursor: pointer;
}

.custom-file-input input[type="file"]:hover {
	cursor: pointer;
}

.image-send {
	width: 3.5%;
}

.panel-anexo {
	margin-top: 47%;
	margin-left: 1%;
	position: absolute;
	background-color: #0f173d;
	padding: 15px;
	border-radius: 10px;
	display: none;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	transform: translateY(100%);
	transition: transform 0.3s ease;
}

.panel-anexo.open {
	display: block;
	transform: translateY(0);
}

.panel-anexo ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.panel-anexo li {
	padding: 10px 0;
	cursor: pointer;
}

.panel-anexo li:hover {
	background-color: #2038a5;
	border-radius: 5px;
}

/* ====================================== CSS DO PAINEL DE CRIAR CONTATO ===================================== */
/* ====================================== CSS DO PAINEL DE CRIAR CONTATO ===================================== */
/* ====================================== CSS DO PAINEL DE CRIAR CONTATO ===================================== */

.div-criar-contato {
	display: none;
	flex-direction: column;
	position: absolute;
	width: 56vw;
	height: 90%;
	background: #2436928c; 
	z-index: 5;
	margin-top: 3%;
	margin-left: 3%;
	border: 2px solid #0f173d;
	border-radius: 2%;
	box-sizing: border-box;
}

.panel-header-criar-contato {
	display: flex;
	position: relative;
	width: 100%;
	height: 14%;
	justify-content: center;
	align-items: center;
	padding-top: 1vh;
	background-color: #0f173d; 
	color: white;
	border-radius: 2% 2% 0px 0px;
	text-align: center;
}

.type-text-criar-contato {
	width: 97%; 
	height: 12%;
	border: none;
	border-radius: 10px;
	padding: 15px;
	background: #514869;
	color: #f0ffffde;
	font-size: 12pt;
	box-shadow: 0px 10px 40px #00000056;
	outline: none;
	box-sizing: border-box;
	margin-top: 1vw;
	margin-right: 1vw;
	margin-left: 1vw;
	resize: none;
	scrollbar-width: none;
}

.type-text-criar-contato > input::placeholder {
	color: #f0ffff94;
}

.button-criar-contato {
	width: 97%;
	height: 12%;
    padding: 16px 0px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background: #372174;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #000000;
	margin-top: 1vw;
	margin-right: 1vw;
	margin-left: 1vw;
	transition: background 0.5s;
}

.button-criar-contato:hover{
	background: #462a94;
	
}

.radio-buttons-criar-contato {
	display: flex;
	margin-top: 1vw;
	margin-right: 1vw;
	margin-left: 1vw;
}